<main class="main">
  <div class="inner">
    <%# ログインしているときは以下を表示する %>
      <% if user_signed_in? && current_user.id == @prototype.user_id %>
       <div class="greeting">
       こんにちは、        
       <%# ここに greeting の内容が入ります %>
       <%= link_to "  #{current_user.name}さん",user_path(current_user), class: :greeting_link %> 
  
    </div> 
    <% end %>          
    <%# // ログインしているときは上記を表示する %>
    <div class="card__wrapper">
      <%# 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示する %>
      <%# 💡 修正箇所：collectionオプションを使って_prototype.html.erbを繰り返し呼び出す %>
      <%= render partial: "prototype", collection: @prototypes %>
    </div>
  </div>
</main>
